.text{
    margin-top: 9%;
    text-align: center;
  
}
.textstyle{
    margin-top: 2%;
    font-size: 1.29rem;
}
p{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    
}

.lead{
    background-color: #ff8000;
    position: center;
    width: 9rem;
    margin: 0 auto;
    border-radius: 3px;
}